.about-us{
    width: 100%;
}

.about-us>p{
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

.about-us>div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    padding: 5rem;
}

.about-us>div>div>p{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.about-us>div>img{
    width: 700px;
}